footer.main-footer
	.container
		.row
			.col-md-3.col-sm-12
				p Агентство по сопровождению <br> инвестиционных проектов <br> © 2011-1017
				ul.social
					li.social__item: a(href="#").social__link.social__link--vk: i.fa.fa-vk
					li.social__item: a(href="#").social__link.social__link--facebook: i.fa.fa-facebook
					li.social__item: a(href="#").social__link.social__link--twitter: i.fa.fa-twitter
				.footer-contacts
					.footer-contacts__item
						.footer-contacts__title Тел.
						.footer-contacts__val
							b 8 (4832) 74-58-55
							br
							b 8 (4832) 74-03-09
					.footer-contacts__item
						.footer-contacts__title Факс:
						.footer-contacts__val: b 8 (4832) 74-07-26
					.footer-contacts__item
						.footer-contacts__title Адрес:
						.footer-contacts__val 241050, г. Брянск, ул. Фокина, д. 31
					.footer-contacts__item
						.footer-contacts__title E-mail:
						.footer-contacts__val agency@invest32.ru, agencyinvest@gmail.com
			.col-md-9.hidden-sm.hidden-xs
				.col-md-2
					ul.footer-nav
						li.footer-nav__item
							a(href="#") Об учреждении
						li.footer-nav__item
							a(href="#") Услуги
						li.footer-nav__item
							a(href="#") Документы 
						li.footer-nav__item
							a(href="#") Контакты
				.col-md-4
					ul.footer-nav
						li.footer-nav__item
							a(href="#") О Брянской области 
						li.footer-nav__item
							a(href="#") Органы исполнительной власти
						li.footer-nav__item
							a(href="#")  Общие сведения 
						li.footer-nav__item
							a(href="#") Инвестиционная привлекательность
						li.footer-nav__item
							a(href="#") Малый бизнес
						li.footer-nav__item
							a(href="#") Бизнес-омбудсмен
						li.footer-nav__item
							a(href="#") Территориальное деление
						li.footer-nav__item
							a(href="#") Фотогалерея
				.col-md-3  
					ul.footer-nav
						li.footer-nav__item
							a(href="#") Законодательство
						li.footer-nav__item
							a(href="#") Льготы и субсидии
						li.footer-nav__item
							a(href="#") ТОСЭР 
						li.footer-nav__item
							a(href="#") Институты развития
						li.footer-nav__item
							a(href="#") Инвестиционный совет
						li.footer-nav__item
							a(href="#") Инвестиционная стратегия
						li.footer-nav__item
							a(href="#") Горячая линия для инвесторов
						li.footer-nav__item
							a(href="#") Развитие конкуренции
						li.footer-nav__item
							a(href="#") План инфраструктуры
				.col-md-3  
					ul.footer-nav
						li.footer-nav__item
							a(href="#") ГЧП
						li.footer-nav__item
							a(href="#") Законодательство в сфере ГЧП
						li.footer-nav__item
							a(href="#") Реестр ГЧП 
						li.footer-nav__item
							a(href="#") Вопроcы о ГЧП
						li.footer-nav__item
							a(href="#") Материалы по ГЧП
						li.footer-nav__item
							a(href="#") Партнеры
						li.footer-nav__item
							a(href="#") Полезные ссылки
.modals
	.modal.modal-thin#callbackForm
		form(action="#")
			.modal-header
				.title Обратная связь
			.modal-body
				input(type="text" placeholder="Ваше имя").input.input-bd.mb-2
				input(type="text" placeholder="Ваш email").input.input-bd.mb-2
				textarea(placeholder="Сообщение").textarea.textarea-bd.mb-2
			.modal-footer.ta-center
				button(type="submit").btn.btn--bd.modal__btn Отправить сообщение
				a(href="#").modal-agree Перед отправкой сообщения ознакомьтесь с правилами обработки персональных данных
