.gallery
	.gallery-item
		a(href="img/0001.jpg" data-fancybox="gallery").gallery-item__photo.fancybox
			img(src="img/0001-284b22c3fd.jpg", alt="").gallery-item__image
		.gallery-item__title Покровская гора
	.gallery-item
		a(href="img/0002.jpg" data-fancybox="gallery").gallery-item__photo.fancybox
			img(src="img/0002-1578406591.jpg", alt="").gallery-item__image
		.gallery-item__title Брянский кафедральный собор
	.gallery-item
		a(href="img/0003.jpg" data-fancybox="gallery").gallery-item__photo.fancybox
			img(src="img/0003-a1ddc29a58.jpg", alt="").gallery-item__image
		.gallery-item__title Площадь партизан
	.gallery-item
		a(href="img/0004.jpg" data-fancybox="gallery").gallery-item__photo.fancybox
			img(src="img/0004-88ba79fe2a.jpg", alt="").gallery-item__image
		.gallery-item__title Проспект ленина
	.gallery-item
		a(href="img/0005.jpg" data-fancybox="gallery").gallery-item__photo.fancybox
			img(src="img/0005-e513328213.jpg", alt="").gallery-item__image
		.gallery-item__title Свенский монастырь
	.gallery-item
		a(href="img/0006.jpg" data-fancybox="gallery").gallery-item__photo.fancybox
			img(src="img/0006-c47ac0b978.jpg", alt="").gallery-item__image
		.gallery-item__title Памятник лйтчикам
	.gallery-item
		a(href="img/0007.jpg" data-fancybox="gallery").gallery-item__photo.fancybox
			img(src="img/0007-5011e6b244.jpg", alt="").gallery-item__image
		.gallery-item__title Курган Бессмертия
	.gallery-item
		a(href="img/0008.jpg" data-fancybox="gallery").gallery-item__photo.fancybox
			img(src="img/0008-eddde2ed2f.jpg", alt="").gallery-item__image
		.gallery-item__title Памятник Танкистам
