.home-news__wrap.sep-bottom
	h2.title.title--bold.ta-left Новости
	ul.home-news
		li.home-news__item
			.d-table
				.d-table-cell.va-top.home-news__left
					a(href="#").home-news__image: img(src="img/576492c356d8e0278dfa7b752bad5bc8_XS.jpg", alt="")
				.d-table-cell.va-top.home-news__content
					a(href="#").home-news__text В период с 01 по 04 июня 2018 года прошла бизнес-миссия представителей экспортно ориентированных субъектов малого и среднего предпринимательства региона в Республику Армения (г. Ереван, г. Цахкадзор).
					.home-news__date 21 ИБН
		li.home-news__item
			.d-table
				.d-table-cell.va-top.home-news__left
					a(href="#").home-news__image: img(src="img/576492c356d8e0278dfa7b752bad5bc8_XS.jpg", alt="")
				.d-table-cell.va-top.home-news__content
					a(href="#").home-news__text В период с 01 по 04 июня 2018 года прошла бизнес-миссия представителей экспортно ориентированных субъектов малого и среднего предпринимательства региона в Республику Армения (г. Ереван, г. Цахкадзор).
					.home-news__date 21 ИБН
		li.home-news__item
			.d-table
				.d-table-cell.va-top.home-news__left
					a(href="#").home-news__image: img(src="img/576492c356d8e0278dfa7b752bad5bc8_XS.jpg", alt="")
				.d-table-cell.va-top.home-news__content
					a(href="#").home-news__text В период с 01 по 04 июня 2018 года прошла бизнес-миссия представителей экспортно ориентированных субъектов малого и среднего предпринимательства региона в Республику Армения (г. Ереван, г. Цахкадзор).
					.home-news__date 21 ИБН


