.home-slider
	.home-slider__container.owl-carousel.js-home-slider
		.home-slider__item(style="background-image: url('img/topsl1.png')")
		.home-slider__item(style="background-image: url('img/topsl2.png')")
		.home-slider__item(style="background-image: url('img/topsl3.png')")
	.home-slider-dots__container-bg
	.home-slider-dots__container
		.container
			.d-table
				.d-table-cell.va-middle 3 причины инвестировать <br> в Брянскую область
				.d-table-cell.va-middle
					ul.home-slider-dots
