nav.main-nav__wrap
	.container
		ul.main-nav
			li.main-nav__item
				a(href="#"): img(src="img/agestvo.png", alt="")
				ul.main-nav-dropdown
					li.main-nav-dropdown__item
						a(href="#") Об учреждении
					li.main-nav-dropdown__item
						a(href="#") Услуги
					li.main-nav-dropdown__item
						a(href="#") Документы
					li.main-nav-dropdown__item
						a(href="#") Контакты
			li.main-nav__item
				a(href="#") О Брянской области
				ul.main-nav-dropdown
					li.main-nav-dropdown__item
						a(href="#") Губернатор и органы исполнительной власти
					li.main-nav-dropdown__item
						a(href="#") Общие сведения
					li.main-nav-dropdown__item
						a(href="#") Инвестиционная привлекательность
					li.main-nav-dropdown__item
						a(href="#") Малый бизнес
					li.main-nav-dropdown__item
						a(href="#") Бизнес-омбудсмен
					li.main-nav-dropdown__item
						a(href="#") Территориальное деление
					li.main-nav-dropdown__item
						a(href="#") Целевые модели
			li.main-nav__item
				a(href="#") Путеводитель <br> Инвестора
				ul.main-nav-dropdown
					li.main-nav-dropdown__item
						a(href="#") Заявка на сопровождение проекта
					li.main-nav-dropdown__item
						a(href="#") Горячая линия для инвесторов
					li.main-nav-dropdown__item
						a(href="#") Законодательство
					li.main-nav-dropdown__item
						a(href="#") Льготы и субсидии
					li.main-nav-dropdown__item
						a(href="#") Конкурс "Регионы - устойчивое развитие"
					li.main-nav-dropdown__item
						a(href="#") ТОСЭР
					li.main-nav-dropdown__item
						a(href="#") Институты развития
					li.main-nav-dropdown__item
						a(href="#")  Инвестиционный совет
					li.main-nav-dropdown__item
						a(href="#")  Инвестиционная стратегия
					li.main-nav-dropdown__item
						a(href="#")   Развитие конкуренции
					li.main-nav-dropdown__item
						a(href="#")  План инфраструктуры
			li.main-nav__item
				a(href="#") Инвестиционные <br>площадки
			li.main-nav__item
				a(href="#") Проекты и <br> предложения
			li.main-nav__item
				a(href="#") Государственно-<br>частное партнерство
				ul.main-nav-dropdown
					li.main-nav-dropdown__item
						a(href="#") Законодательство в сфере ГЧП
					li.main-nav-dropdown__item
						a(href="#") Реестр ГЧП
					li.main-nav-dropdown__item
						a(href="#") Часто задаваемые вопроcы о ГЧП
					li.main-nav-dropdown__item
						a(href="#") Материалы по ГЧП
					li.main-nav-dropdown__item
						a(href="#") Партнеры
					li.main-nav-dropdown__item
						a(href="#") Полезные ссылки
			li.main-nav__item
				a(href="#") Медиа
				ul.main-nav-dropdown
					li.main-nav-dropdown__item
						a(href="#") Новости
					li.main-nav-dropdown__item
						a(href="#") Фотогалерея
					li.main-nav-dropdown__item
						a(href="#") Мероприятия
					