ul.rec-sites
	li.rec-sites__item: a(href="#").rec-sites__link Горячая линия для инвесторов
	li.rec-sites__item: a(href="#").rec-sites__link Правительство Брянской области
	li.rec-sites__item: a(href="#").rec-sites__link Брянская городская администрация
	li.rec-sites__item: a(href="#").rec-sites__link Департамент экономического развития Брянской области
	li.rec-sites__item: a(href="#").rec-sites__link Портал малого и среднего предпринимательства
	li.rec-sites__item: a(href="#").rec-sites__link Открытый бюджет Брянской области
	li.rec-sites__item: a(href="#").rec-sites__link Агентство стратегических инициатив
	li.rec-sites__item: a(href="#").rec-sites__link Портал ГЧП в России
	li.rec-sites__item: a(href="#").rec-sites__link Электронное правительство портал услуг
	li.rec-sites__item: a(href="#").rec-sites__link Брянская торгово-промышленная палата