.subscribe
	form(action="#").d-table.w-100.d-table-responsive-w100
		.d-table-cell.va-middle
			input(type="text" placeholder="Ваш email").input.input-bd.ta-sm-center.ta-center-xs
		.d-table-cell.va-middle.ta-sm-center
			button(type="submit").subscribe__btn.btn.btn--bd Подписаться на новости
		.d-table-cell.va-middle.ta-sm-center
			a(href="#").subscribe__allnews Все новости