mixin service-type(img, title, msg)
	.service-type
		a(href="#").service-type__image(style="background-image: url("+img+")")
		.equal-height__item: h3.service-type__title.title.title--bold=title
		.service-type__text=msg