extends _template

block main
	.catalog
		.mb-6
			include includes/main-nav
		.container
			h2.title.title--thin.mb-4 Каталог 
			.row
				.col-md-3.pull-right.catalog__right
					.catalog-item.catalog-item--vertical
						.catalog-item__content
							.catalog-item__name Проект называется так
							.catalog-item__info
								span.catalog-item__prop Стоимость 2 000 000 рублей
								span.catalog-item__done Реализовано
								span.catalog-item__addr Улица Горького, дом 2
								span.catalog-item__prop Площадь 130га 
						img(src="img/755187818413381.jpg", alt="").img-responsive.mb-4
						br
						.btn.btn--primary Скачать
						.mb-2
						.btn.btn--primary Получить консультацию
				.col-md-9.pull-left
					.row
						.col-md-6
							.mb-4
								p: b Регистрационный номер проекта в Реестре
								p 1
							.mb-4
								p: b Дата регистрации в Реестре
								p 24.02.2011 
							.mb-4
								p: b Полное наименование проекта
								p Вторая очередь строительства базы по переработке и хранению сельхозпродукции в д. Староселье Брянского района  Брянской области.
							.mb-4
								p: b Полное наименование юридического лица
								p ООО «Агросмак» 
							.mb-4
								p: b Местонахождение
								p 1
							.mb-4
								p: b Регистрационный номер проекта в Реестре
								p 241041, г. Брянск, ул. Автомобилистов, д.14
							.mb-4
								p: b Телефон (факс) организации заявителя
								p тел/факс (4832)755555
							.mb-4
								p: b Ф.И.О. руководителя
								p Директор Селькин Владимир Викторович
							.mb-4
								p: b Адрес электронной почты
								p fregat@onlaine.debryansk.ru
						.col-md-6
							.mb-4
								p: b Цель проекта 
								p Cоздание сельскохозяйственного производства  по выращиванию и хранению картофеля и других овощей  на территории Брянской области
							.mb-4
								p: b Стоимость проекта (тыс.рублей)
								p 284 190,0 
							.mb-4
								p: b Срок реализации проекта
								p 2011-2018 гг.
							.mb-4
								p: b Форма государственной поддержки инвестиционной деятельности в соответствии с законодательством Брянской области
								p Общий договор об инвестировании
							.mb-4
								p: b Социальная эффективность проекта
								p 28 новых рабочих мест
							.mb-4
								p: b Основание включения в Реестр
								p Заявление ООО «Агросмак»
							.mb-4
								p: b Телефон (факс) организации заявителя
								p тел/факс (4832)755555
							.mb-4
								p: b Основание исключения из Реестра
								p ---------
				
	include includes/main-nav