extends _template

block main
	include includes/home-slider
	.mb-6
		include includes/main-nav
	.container.mb-6
		.row
			.col-md-7.sep-right.mb-4
				include includes/home-news
				include includes/subscribe
			.col-md-5
				include includes/events
	.container.sep-bottom.mb-4
		.title.mb-4 Основные отрасли
		.row
			.col-md-3.col-sm-6
				+service-type('img/filtr-portlandcementa_01.jpg','Строительство','Состояние минерально-сырьевой базы позволяет поддерживать высокий промышленный потенциал строительной индустрии региона. ')
			.col-md-3.col-sm-6
				+service-type('img/bmz.jpg','Промышленность','В структуре промышленного производства области сохраняется ведущая роль машиностроительных производств. Развито в области производство пищевых продуктов, целлюлозно-бумажное производство, издательская и полиграфическая деятельность.  ')
			.col-md-3.col-sm-6
				+service-type('img/miratorg7_cr.jpg','Апк', 'В Брянской области агропромышленный комплекс является объектом постоянного и повышенного внимания Правительства Брянской области, отрасль признана приоритетной. ')
			.col-md-3.col-sm-6
				+service-type('img/b_927CB181-8AD9-43DB-86DA-1C5BF6A4C690.jpg','Лесопромышленный комплекс', 'Брянская область богата лесными ресурсами: свыше 1,2 млн га ее территории занято лесами, запас древесины в которых - более 200 млн кубометров.')
	.container.mb-6
		.title.mb-4 ПАРТНЕРЫ
		.row
			.col-sm-4.col-xs-6.ta-right.ta-center-xs
				a(href="#"): img(src="img/maket1.jpg", alt="").img-responsive.mb-2
			.col-sm-4.col-xs-6.ta-center-xs.ta-center
				a(href="#"): img(src="img/maket4.jpg", alt="").img-responsive.mb-2
			.col-sm-4.col-xs-6.ta-left
				a(href="#"): img(src="img/maket2.jpg", alt="").img-responsive.mb-2
			.col-sm-4.col-xs-6.ta-right
				a(href="#"): img(src="img/maket5.jpg", alt="").img-responsive.mb-2
			.col-sm-4.col-xs-6.col-sm-6.ta-center
				a(href="#"): img(src="img/maket3.jpg", alt="").img-responsive.mb-2
			.col-sm-4.col-xs-6.col-sm-6.ta-left
				a(href="#"): img(src="img/maket6.jpg", alt="").img-responsive.mb-2
	include includes/main-nav