extends _template

block main
	.mb-6
		include includes/main-nav
	.container
		.col-md-9.content-section.mb-4
			.h.h-lg.ta-center.mb-4  Реестр инвестиционных проектов
			p Реестр инвестиционных проектов Брянской области представляет собой документ, содержащий информацию о планируемых к реализации и реализуемых на территории Брянской области инвестиционных проектах.Данные реестра используются исполнительными органами государственной власти Брянской области при планировании государственной инвестиционной политики Брянской области и разработке региональных программ, прогнозных показателей развития инвестиционной деятельности в Брянской области.
			p
				a(href="#")
					i.icon.icon-save.mr-1
					span Реестр
			hr.mb-4
			.h.h-lg.ta-center.mb-4  Инвестиционные предложения
			.spoiler.active
				.spoiler-header Брянская область
				.spoiler-body
					ul.ul.ul--save
						li Перечень инвестиционных предложений
						li ПРОМПАРК - приглашает резидентов
						li Навлинский район Навлинский районНавлинский районНавлинский районНавлинский районНавлинский районНавлинский районНавлинский районНавлинский районНавлинский районНавлинский районНавлинский районНавлинский район
						li Мглинский район
						li Трубчевский район
						li Стародубский район
						li Красногорский район
						li Карачевский район
						li ИнвестТрансГрупп
						li От компании Goetzpartners
			hr
			.spoiler
				.spoiler-header Перечень инвестиционных предложений за пределами Брянской области
				.spoiler-body
					ul.ul
						li
							p: b Воронеж:
							span.icon.icon-marker1.mr-1
							span Энергоцентр Квадрострой  
							a(href="#")
								i.icon.icon-save
								| Скачать
						li
							p: b Краснодар: 
						
							span.icon.icon-marker1.mr-1
							span Приглашаем инвесторов с целью комплексного освоения крупных земельных массивов под жилищное строительство в г. Краснодаре
							a(href="#")
								i.icon.icon-save
								| Скачать
						li
							p: b Москва: 
							span.icon.icon-marker1.mr-1
							span Заинтересованность международного гостиничного оператора AccorHotels в сотрудничестве с местными инвесторами на предмет открытия и управления / предоставления франшизы на гостиничные проекты в Брянске.
							a(href="#")
								i.icon.icon-save
								| Скачать
						li
							p: b Нижний Новгород 
							span.icon.icon-marker1.mr-1
							span Оборудование для переработки/измельчения (отходов и вторичного с/х сырья): сено, солома, помет, подстилка, отруби, зерновые, стебельчатые. бобовые, полова пшеницы, шрот, лузга, жмых и прочее (дкр, ирр) и технологии для переработки и гранулирования древесных отходов и вторичного сырья, побочного продукта деревоперерабатывающей, лесоперерабатывающей, сельскохозяйственной промышленности, спирт-пивзаводов, птицефабрик, торфодобывающих организаций, организаций химической промышленности и различных предприятий апк/лпк/ 
							a(href="#")
								i.icon.icon-save
								| Скачать
						li
							p: b Республика Крым:
							ul.ul.ul--marker1
								li Инвестиционные площадки   <a href="#"> <span class="icon icon-save"></span> Перечень</a>
								li Экспортные возможности  <a href="#"> <span class="icon icon-save"></span> Перечень</a>
								li Инвестиционные предложения  <a href="#"> <span class="icon icon-save"></span> Перечень</a>
								li Свободная экономическая зона  <a href="#"> <span class="icon icon-save"></span> Презентация</a>
							p Актуализированные информационные материалы размещаются на официальном сайте Министерства экономического развития Республики Крым (http://minek.rk.gov.ru/) и на обновленном инвестиционном портале Республики Крым (http://www.invest-in-crimea.ru/)
							
							a(href="#")
								i.icon.icon-save
								| Скачать
						li
							p: b Германия 
							span.icon.icon-marker1.mr-1
							span Инвестиционное сотрудничество с европейскими финансистами и банкирами
							a(href="#")
								i.icon.icon-save
								| Скачать
			.spoiler
				.spoiler-header Паспорта инвестиционных проектов
				.spoiler-body 
					ul.ul.ul--marker1
						li Завод по производству аммиака и карбамида   <a href="#"><span class="icon icon-save"></span>Скачать</a>
						li Строительство завода по глубокой переработке люпина и производству обезгорченного люпина, пищевых продуктов и волокон, экструдированных и гранулированных кормов   <a href="#"><span class="icon icon-save"></span>Скачать</a>
						li Расширение действующего производства молочно-товарной фермы КРС со строительством корпусов на 1450 скотомест   <a href="#"><span class="icon icon-save"></span>Скачать</a>
						li Строительство тепличного комбината площадью 7,2 га для круглогодичного производства овощных культур в с. Журиничи Брянского района Брянской области   <a href="#"><span class="icon icon-save"></span>Скачать</a>
						li Строительство базовых станций сотовой связи в 11 н.п. Брянской области   <a href="#"><span class="icon icon-save"></span>Скачать</a>
					hr
		aside.col-md-3
			.h.h-md.mb-4 Рекомендуемые сайты:
			include includes/rec-sites
	include includes/main-nav